@{
    ViewData["Title"] = "404 Not Found";
}

<div style="height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column">
    <h1>Page Not Found</h1>

    <p>Sorry, the page you were looking for was not found. You can go back to the home page and try another link.</p>
</div>