@{
    ViewBag.Title = "Forbidden";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Forbidden</h3>
                </div>
                <div class="card-body">
                    You are not authorized to access this page. Please contact the administrator.
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small">

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-area="Admin" asp-action="Index" asp-controller="Home">Go to Home</a>
                        }
                        else if (User.IsInRole("Customer"))
                        {
                            <a asp-area="Customer" asp-action="Index" asp-controller="Home">Go to Home</a>
                        }
                        <a asp-area="Auth" asp-action="Logout" asp-controller="Sign">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>