@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UserCreateDto
@{
    ViewData["Title"] = "Create User";
}

<h1>Create User</h1>

<form asp-action="Create">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" asp-for="FirstName" placeholder="Enter first name">
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" asp-for="LastName" placeholder="Enter last name">
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" asp-for="Email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="PhoneNumber" asp-for="PhoneNumber" placeholder="Enter phone number">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
