@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UserDto

<h1>Delete User</h1>

<p>Are you sure you want to delete @Model.FirstName @Model.LastName?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="UserId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
